<div class="containter-fluid">
    <div class="row" style="background-color:#000;color:#fff;margin: 0px;
    padding: 10px;">
        <div class="col-4">
            <b routerLink="" class="btn" style="color:#fff;font-weight: 500;border: none;"><span class="name">M</span><span class="name">D</span><span class="name">R</span><span class="name">E</span><span class="name">H</span><span class="name">A</span><span class="name">N</span><span class="name">4</span><span class="name">A</span><span class="name">L</span><span class="name">L</span></b>
        </div>
        <div class="col-8" style="text-align:right;">
            <a routerLink="" class="btn" style="color:#aaa;"><mat-icon style="font-size: 20px;"> home</mat-icon></a>
            <a routerLink="contact" class="btn" style="color:#aaa;"><mat-icon style="font-size: 20px;"> contacts</mat-icon></a>
        </div>
    </div>
</div>
