<div class="containter-fluid">
    <div class="row" style="background-color:#000;color:#fff;margin: 0px;
    padding: 10px;">
        <div class="col-4">
            <b routerLink="" class="btn" style="color:#fff;font-weight: 500;">MDREHAN4ALL</b>
        </div>
        <div class="col-8" style="text-align:right;">
            <a routerLink="" class="btn" style="color:#aaa;"><mat-icon style="font-size: 14px;"> home</mat-icon> Home</a>
            <a routerLink="contact" class="btn" style="color:#aaa;"><mat-icon style="font-size: 14px;"> contacts</mat-icon> Contact Me</a>
        </div>
    </div>
</div>
