<div class="containter-fluid">
    <div class="row" style="background-color:#222;color:#fff;margin: 0px;
    padding: 30px;">
        <div class="col-md-4">
            <h2>About Me</h2>
            <p>Software Engineer & Entrepreneur</p>
            
            <p>
                <small style="display: block;padding-bottom: 10px;">Call 24x7</small>
                <mat-icon style="font-size:15px;position: relative;top:2px;">phone</mat-icon><a href="tel:+918210614418" style="color:#fff;font-size:15px;text-decoration:none;">+918210614418</a><br/>
                <mat-icon style="font-size:15px;position: relative;top:2px;">phone</mat-icon><a href="tel:+919576067762" style="color:#fff;font-size:15px;text-decoration:none;">+919576067762</a>
            </p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Social Links</h2>
            <ul>
                <li><a href="https://wa.me/919576067762">WhatsApp</a></li>
                <li><a href="https://t.me/mdrehan4all">Telegram</a></li>
                <li><a href="https://statusupdate.in/profile.php?username=rehan">StatusUpdate</a></li>
                <li><a href="https://facebook.com/mdrehan4all">Facebook</a></li>
                <li><a href="https://instagram.com/mdrehan4all">Instagram</a></li>
                <li><a href="https://twitter.com/mdrehan4all">Twitter</a></li>
                <li><a href="https://youtube.com/mdrehan4all">Youtube</a></li>
                <li><a href="https://github.com/mdrehan4all">Github</a></li>
            </ul>
        </div>
        <div class="col-12"><hr/></div>
        <div class="col-6 text-start" style="padding-top:30px;">
            <small>&copy; All Rights Reserved</small>
        </div>
        <div class="col-6 text-end" style="padding-top:30px;">
            <small></small>
        </div>
    </div>
</div>
