<div class="containter-fluid">
    <div class="row" style="background-color:#222;color:#fff;margin: 0px;
    padding: 30px;">
        <div class="col-6">
            <h2>About Me</h2>
            <p>Senior Software Engineer, Website Designer, Entrepreneur</p>
        </div>
        <div class="col-6">
            <h2>Social Links</h2>
            <ul>
                <li>WhatsApp</li>
                <li>Telegram</li>
                <li>StatusUpdate</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Github</li>
            </ul>
        </div>
    </div>
</div>
