<div class="containter-fluid">
    <div class="row" style="background-color:#222;color:#fff;margin: 0px;
    padding: 30px;">
        <div class="col-md-4">
            <h2>About Me</h2>
            <p>Senior Software Engineer, Website Designer, Entrepreneur</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Social Links</h2>
            <ul>
                <li>WhatsApp</li>
                <li>Telegram</li>
                <li>StatusUpdate</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Github</li>
            </ul>
        </div>
        <div class="col-12 text-center" style="padding-top:30px;">
            <small>&copy; All Rights Reserved</small>
        </div>
    </div>
</div>
