<!-- <ng-template let-title="title" #template>
    <h1>{{ title }}</h1>
</ng-template>

<ng-content *ngTemplateOutlet="template; context: { title: 'Md Rehan'}"></ng-content>
<ng-content *ngTemplateOutlet="template; context: { title: 'mdrehan4all'}"></ng-content>
<ng-content *ngTemplateOutlet="template; context: { title: '---'}"></ng-content> -->

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-3 text-center">
            <h1 class="display-6">About</h1>
            <button mat-button routerLink="/">Home</button><button mat-button><mat-icon>arrow_right</mat-icon> About</button>
        </div>
        <div class="col-md-12 shadow rounded p-5">
            <p>I am Full Stack Developer + GenAI/AI/ML Engineer with 5 years and 5 months of experience.</p>
            <p>Well versed with Angular, HTML, CSS, JavaScript, TypeScript, Node JS, React JS, REST API, Python, PHP, Java, C/C++, Spring Boot, Android (Java), MySQL, SQLite, MongoDB, Oracle, Firebase, IoT, Embedded Systems Programming, Machine Learning, Deep Learning, NLP, Image Processing, and Generative AI (GenAI).</p>
            <p>I am very flexible and adaptive when it comes to learning new skills. I come with an open mind, high on energy, eager to learn fast and bring in fresh ideas.</p>
            
            <h2>Projects</h2>
            <p><a href="https://llmchat.in">LLMChat.in</a></p>
        </div>
    </div>
</div>
