<div class="container">
    <div class="row" style="margin:0px;padding:10px;">
        <div class="col-12 text-center">
            <h2>Contact</h2>
        
            <mat-tab-group style="margin:0px auto;text-align:center;">
                <mat-tab label="Mobile">
                    <div style="padding:50px;">
                        <h2><a href="tel:+918210614418" mat-raised-button>+918210614418</a></h2>
                    </div>
                </mat-tab>
                <mat-tab label="WhatsApp">
                    <div style="padding:50px;">
                        <h2><a href="https://wa.me/919576067762" mat-raised-button>+919576067762</a></h2>
                    </div>
                </mat-tab>
                <mat-tab label="Email">
                    <div style="padding:50px;">
                        <h2><a href="mailto:mdrehan4all@gmail.com" mat-raised-button>mdrehan4all@gmail.com</a></h2>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>