<div class="container">
    <div class="row" style="margin:0px;padding:30px;">
        <div class="col-md-6 text-center">
            <img src="assets/mdrehan4all.jpg" style="width: 200px;border-radius: 100px;"/>
            <h1>Hii, I am Md Rehan</h1>
            <p>Find me on Google with keyword <a href="https://google.com/search?q=mdrehan4all" style="text-decoration:none;">mdrehan4all</a></p>
            <hr style="width:60%;color:#aaaaaa;margin:20px auto;"/>
            <app-contact></app-contact>
        </div>
        <div class="col-md-6 text-left">
            <h2>About Me</h2>
            <p style="font-size:16px;color:#aaaaaa;">Qualification</p>
            <ul>
                <li><strong>Masters in Computer Application</strong></li>
                <li><strong>Bachelors in Computer Application</strong></li>
            </ul>
            <p style="font-size:16px;color:#aaaaaa;">Field of Study & Technologies</p>
            <ul>
                <li><strong>JavaScript</strong> (Node, Angular, Ajax, Jquery ...)</li>
                <li><strong>TypeScript</strong></li>
                <li><strong>Python</strong> (Flask, Django, OpenCV - Image Processing ...)</li>
                <li><strong>Machine Learning</strong> (Scikit-learn, Tensorflow, Face Recognition, Voice Recognition ...)</li>
                <li><strong>Java</strong></li>
                <li><strong>PHP</strong></li>
                <li><strong>Android</strong> (Java)</li>
                <li><strong>HTML/CSS/SCSS</strong></li>
                <li><strong>C/C++</strong></li>
                <li><strong>Json/XML</strong></li>
                <li><strong>Database</strong> (MySQL, SQLite, PostgreSQL, Firebase Realtime DB ...)</li>
                <li><strong>IoT</strong></li>
                <li><strong>Embedded System Programming</strong></li>
                <li><strong>Cryptography</strong></li>
                <li><strong>Blockchain</strong></li>
                <li><strong>Electronics</strong></li>
            </ul>
        </div>
    </div>
</div>
